* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(247, 154, 169, 0.5)),
    url(../img/back.JPG) no-repeat center center/cover;
}

nav img {
  width: 160px;
}

nav {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
#menu-bar {
  display: none;
}
nav label {
  text-decoration: none;
  padding: 5px 10px;
  color: white;
  font-size: 15px;
  display: none;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  padding: 5px 10px;
  color: white;
  font-size: 15px;
  position: relative;
  z-index: 1;
  border-radius: 20px;
  border: 1px solid rgb(240, 153, 167);
  display: inline-block;
  overflow: hidden;
}

nav ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0%;
  height: 100%;
  background-color: pink;
  transform: translateX(-50%);
  z-index: -1;
  transition: 0.5s;
}

nav ul li a:hover:before {
  width: 100%;
}

nav ul li a:hover {
  color: black;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  color: white;
  font-size: 3rem;
}

.text-box .btn {
  background: transparent;
  border: none;
  color: white;
  margin-top: 20px;
  border: 1px solid pink;
  padding: 5px 20px;
  font-size: 16px;
  box-shadow: 0 5px 20px rgb(233, 130, 147, 0.3),
    inset 0 5px 10px rgba(0, 0, 0, 0.4);
  transition: 0.5s linear;
}

.text-box .btn:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  nav {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgb(243, 149, 188);
  }
  nav img {
    width: 110px;
  }
  .navbar {
    background-color: rgb(235, 8, 103);
    display: none;
  }
  nav label {
    display: initial;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
  }
  nav ul {
    display: block;
  }
  nav ul li {
    position: relative;
    text-align: center;
    width: 100%;
    height: 85px;
    margin: 0;
  }
  nav ul li a {
    margin-top: auto;
  }

  .text-box h1 {
    font-size: 25px;
  }
  #menu-bar:checked ~ .navbar {
    display: initial;
  }
}
